body {
margin: 30px 80px 30px 80px;
background:  rgb(254,254,254);

}


.topnav {
  overflow: hidden;
  background-color: burlywood;
  border-radius: 30px;
}

.topnav a {
  float: right;
  color: #000036;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #435E87;
  border-radius: 30px;
  color: white;
}

.topnav a.active {
  
  color: blueviolet;
}


.header  {
position: absolute;
width: 737px;
height: 351px;
left: 75px;
top: 130px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 92px;
line-height: 163px;

color: #435E87;
}

.header2  {
position: absolute;
width: 696px;
height: 62px;
left: 75px;
top: 420px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 41px;
display: flex;
align-items: center;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img1 {
  display: block;
  position: right;
  margin-left: 460px;
  margin-right: auto;
  width: 60%;
  
  
}

.button {
    position: absolute;
    background-color:rgb(26, 82, 167);
    color: #000;
    border:none; 
    top:530px;
    border-radius:30px; 
    padding:14px 16px;
    font-size: 25px;
    text-align:center;
    text-decoration: none;
  }

  .button:hover {
      background-color:rgb(54, 199, 110);
      color: white;
      transition: normal;
  }
 


.btn {
  text-decoration: none;
  border-radius: 30px;
  background-color: #005af0;
  color: #ffffff;
  padding: 10px 10px;
  border: none;
  outline: none;
  transition: 0.3s;
}
.btn:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 10px;
  border-radius: 30px;
  border: none;
  outline: 1px solid #010101;
} 

